/**
 * yuanhe.jing
 * @version v1.00
 * Modify-Date:2017-7-11 13:41:44
 */
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}body,html{-webkit-text-size-adjust:100%;font-size:12px;overflow-x:hidden}fieldset,img{border:0}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:after,q:before{content:''}a{cursor:pointer;text-decoration:none}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}button,input,select{outline:0;background:#fff;-webkit-appearance:none;border-radius:0;border:0}